body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Setting a background color and font for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Styling the header */
header {
    background-color: rgb(77, 120, 214);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

