* {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* White background */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for a subtle effect */
  }
  
  .logo img {
    height: 80px;
  }
  
  .nav-links {
    display: inline-block;
    margin-left: 20px; /* Adjust the spacing between buttons */
  }
  
  .nav-links li {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    color: #333; /* Dark text color */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for color and background color change */
    }
  
  .nav-links li a {
    border-radius: 15px;
    padding: 10px 10px;
    background-color: white;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    background-color: #333;
    color: white;
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}
.footer p {
    align-items: start;
}

.logout-form {
  display: inline-block; /* Ensure form takes up only necessary space */
}

.logout-button {
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Show pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker red background color on hover */
}