form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px; /* Added margin-top */
}

input[type="text"],
button {
    padding: 15px; /* Increased padding */
    font-size: 18px; /* Increased font size */
    border: 2px solid #ccc; /* Gray border */
    border-radius: 25px; /* Increased border radius */
}

input[type="text"] {
    margin-right: 10px;
    width: 250px; /* Increased input width */
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.user-box {
    display: block; /* Make the anchor tag a block-level element */
    text-decoration: none; /* Remove default underline */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.user-box:hover {
    background-color: #e0e0e0; /* Change background color on hover */
}

.user-name {
    margin: 0; /* Reset margin */
    font-size: 18px;
    color: #007bff;
}