body html{
    background-color: white;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-items: center; 
    align-items: center; 
}

.personal-box {
    margin-top: 40px;
    padding: 30px 30px;
    width: 80%;
    background-color: rgb(41, 72, 129);
    color: #fff;
    border-radius: 30px;
}



#table-records {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#table-records th, #table-records td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

#table-records th {
    font-weight: bold;
    background-color: rgb(23, 34, 54);
}

.table-date {
    border-top: 2px solid #333; 
}

#table-records tbody tr:nth-child(even) {
    background-color: rgb(99, 129, 180);
}

#table-records tbody tr:nth-child(odd) {
    background-color: rgb(41, 72, 129);
}